p {
    color: brown;
    font-size: 1em;
}

.boos6{
  width: 100vw;
  height: auto;
  float: left;
  margin: 1;
  box-sizing: border-box;
  flex-direction:  row-reverse;
  
}
.card-text{
  background-color: #c04bb0;
  
}



header h1
{
    color: #AAA;
    font-size: 20px;
    font-weight: lighter;
    /*margin-bottom: 5px;*/
}

.img, frame{
    width: auto;
    height: 20px;
}
h1, h2{
    color:blueviolet;
    text-decoration: midnightblue;
    text-align: center;
    padding: 20px;   
}


li{
    color:green;
   
}

footer span
{
  color: #AAA;
}

#Home{
    width: 100%;
    height: auto;
    background-color:#ffffff;
    box-sizing: border-box;
    float: left;
    /*padding: 20px;*/
    /*margin: 10px 10px;*/
    text-align: center;
    /*margin: 10px 10px;*/
}



.title {
    margin-bottom: 3 em;
    text-transform: uppercase;
}
.title h2
{
  letter-spacing: 0.20em;
  font-weight: 700;
  font-size: 2em;
  color: #171717;
}

.title .byline
{
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.90em;
  color: #6F6F6F;
}



#Staff{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  float: left;
  background-color:#ffffff;
  
}
#Staff p, p1 {
    text-align: center;
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 10px 10px;
    
}
#Staff p1 {

    color: #ffffff;
    font-weight: bold;
}


#Sedes{
    width: 100%; 
    height: 80%;
    float: left;
    box-sizing: border-box;
    padding: none;
    background-color:#ffffff;
    background-image: url(Imagenes/pesas.jpg);
}
#img1{
  width: 80%;
  height: auto;
  float: center;
  margin: 100px;
  box-sizing: border-box;
    
}


h3{
    float: left;
    width: 20%;
    padding: 0px;

}
ul {
    float: none;
    margin: 30px;

}
#Preparacion p{
    text-align: left;
    padding: 20px;
    margin: 10px 10px;
}
ol{
    float: left;
    margin: 30px;
    
}

#Actividades{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  float: left;
  background-color:#ffffff;    
}


footer{
    float: left;
    width: 100%;
}



@import 'https://fonts.googleapis.com/css?family=Raleway';
body{
    background-color: #ffe6e6;
    /*text-align: center;*/

}

header{
  background: #555;
  margin: 0 auto;
	padding: 1em 1em;
	text-align: center;
}

footer
{
  font-family: Raleway;
  margin: 0 auto;
	padding: 5em 3em;
	text-align: center;
  background: #555;
}

div.container
{
  font-family: Raleway;
  margin: 0 auto;
	padding: 10em 3em;
	text-align: center;
}

div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
.teal
{
    background: #c04bb0;
}

 

/**Menu**/
/* Border from Y to X  */
div.borderYtoX a:before, div.borderYtoX a:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.borderYtoX a:before
{
    left: 0px;
    top: 0px;
}

div.borderYtoX a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderYtoX a:hover:before, div.borderYtoX a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}

/*****fin********/


/*********section formulario***********/
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
  
  *{
      margin: 0;
      padding: 0;
      box-sizing:border-box;
    }
  
  :focus{
      outline: none;
    }
  
  body{
      background: #DBDBDB;
      font-family: 'Open sans';
    }
  
  /* FORMULARIO =================================== */
  
  .form_wrap{
      width: 1050px;
      height: 530px;
      margin: 50px auto;
      display: flex;
  
      background: #fff;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    }
  
  /* Informacion de Contacto*/
  
  .cantact_info::before{
      content: '';
      width: 100%;
      height: 100%;
  
      position: absolute;
      top: 0;
      left: 0;
  
      background: #555;     /* #4091EC; */
      opacity: 0.9;
    } 
  
  .cantact_info{
      width: 38%;
      position: relative;
  
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      background-image: url('../fondo.jpg');
      background-size: cover;
      background-position: center center;
    }
  
  .info_title,
  .info_items{
      position: relative;
      z-index: 2;
      color: #fff;
    }
  
  .info_title{
      margin-bottom: 60px;
    }
  
  .info_title span{
      font-size: 100px;
      display: block;
      text-align: center;
      margin-bottom: 15px;
    }
  
  .info_title h2{
      font-size: 35px;
      text-align: center;
    }
  
  .info_items p{
      display: flex;
      align-items: center;
  
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  
  .info_items p:nth-child(1) span{
      font-size: 30px;
      margin-right: 10px;
    }
  
  .info_items p:nth-child(2) span{
      font-size: 50px;
      margin-right: 15px;
      margin-left: 4px;
    } 
  
  
  /*********** Formulario de contacto**************/
  form.form_contact{
      width: 62%;
      padding: 30px 40px;
    }
  
  form.form_contact h2{
      font-size: 25px;
      font-weight: 600;
      color: #303030;
      margin-bottom: 30px;
    }
  
  form.form_contact .user_info{
      display: flex;
      flex-direction: column;
    }
  
  form.form_contact label{
      font-weight: 600;
    }
  
  form.form_contact input,
  form.form_contact textarea{
      width: 100%;
      padding: 8px 0px 5px;
      margin-bottom: 20px;
  
      border: none;
      border-bottom: 2px solid #D1D1D1;
  
      font-family: 'Open sans';
      color: #5A5A5A;
      font-size: 14px;
      font-weight: 400;
    }  
  
  form.form_contact textarea{
      max-width: 100%;
      min-width: 100%;
      max-height: 90px;
    }
  
  form.form_contact input[type="button"]{
      width: 180px;
      background: #bfc9d4;
      padding: 10px;
      border: none;
      border-radius: 25px;
  
      align-self: flex-end;
  
      color: #fff;
      font-family: 'Open sans';
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
    }

  
  form.form_contact input[type="button"]:hover{
      background: #c04bb0;
    } 
  
  /* Ventana de errores*/
  .modal_wrap{
      width: 100%;
      height: 100vh;
      background: rgba(0,0,0,0.7);
  
      position: fixed;
      top: 0;
      left: 0;
      z-index: 3;
  
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
  .mensaje_modal{
      background: #fff;
      box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
      width: 400px;
      padding: 30px 20px 15px;
    }
  
  .mensaje_modal h3{
      text-align: center;
      font-family: 'Ubuntu';
      font-size: 20px;
      font-weight: 400;
    }
  
  .mensaje_modal h3:after{
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: #C5C5C5;
      margin: 10px 0px 15px;
    }
  
  .mensaje_modal p{
      font-size: 16px;
      color: #606060;
    }
  
  .mensaje_modal p:before{
      content: "\f00d";
      font-family: FontAwesome;
      display: inline-block;
      color: #E25151;
      margin-right: 8px;
    }
  
  #btnClose{
      display: inline-block;
      padding: 3px 10px;
      margin-top: 10px;
  
      background: #E25151;
      color: #fff;
      border: 2px solid #B14141;
      cursor: pointer;
      float: none;  /**right***/
    }
/*----------------------Media 500px--------------------------------*/
@media(max-width:500px){
  #Home p{
    display: none;
  }
  div.borderYtoX{
    height: 900px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
 
  .teal
  {
    background:#00bfff;
  }

  .info_title,
  .info_items,.cantact_info,.cantact_info::before{
      display: none;
    }
  
}
form.form_contact input[type="button"]{
  width: 180px;
  background: #bfc9d4;
  border: none;
  border-radius: 25px;

  /*align-self: flex-end;*/
  align-self: center;
}
/*--------------------------FIN-------------------------------------*/
/*----------------------Media 500px--------------------------------*/
@media(orientatio: landscape) and (max-width: 500px){
  #Home{
    height: 900px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
}

/*--------------------------FIN-------------------------------------*/

/*----------------------Media 500px--------------------------------*/
@media(orientation:portrait){
  
  /*header{
    display: none;
  }*/

}
/*--------------------------FIN-------------------------------------*/