body{
    background-color: #ffe6e6;
    text-align: center;
}

p {
    color: brown;
   
}

h1{
    background-color: hotpink;
    font-size: xx-large;
  
   
}

.img, frame{
    width: auto;
    height: 20px;
}
h1, h2{
    color:blueviolet;
    text-decoration: midnightblue;
    
}

li{
    color:green;
   
}

